{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    <h1>Lieu</h1>

    <table class="table">
        <tbody>
                <th>Nom :</th>
                <td>{{ lieu.nom }}</td>
            </tr>
            <tr>
                <th>Rue :</th>
                <td>{{ lieu.rue }}</td>
            </tr>
            <tr>
                <th>Latitude :</th>
                <td>{{ lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude :</th>
                <td>{{ lieu.longitude }}</td>
            </tr>
            <tr>
                <th>Ville :</th>
                <td>{{ lieu.ville }}</td>
            </tr>
            <tr>
                <th>Code postale :</th>
                <td>{{ lieu.cp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lieu_edit', {'id': lieu.id}) }}"><button class="btn btn-lg btn-primary">Modifier</button></a>
    <a href="{{ path('app_lieu_index') }}"><button class="btn btn-lg btn-secondary">Retour</button></a>

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
