{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}

{% block body %}
    <h1>Site</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ site.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ site.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_site_edit', {'id': site.id}) }}"><button class="btn btn-lg btn-primary">Modifier</button></a>
    <a href="{{ path('app_site_index') }}"><button class="btn btn-lg btn-secondary">Retour</button></a>

    {{ include('site/_delete_form.html.twig') }}
{% endblock %}
