{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Detail
{% endblock %}




{% block body %}
            <h2>{{ participant.nom }}</h2>
            <div>Prénom : {{ participant.prenom }}</div>
            <div>Nom : {{ participant.nom }}</div>
            <div>Téléphone : {{ participant.telephone }}</div>
            <div>Email : {{ participant.email}}</div>
            <div>Site de rattachement : {{ participant.site.nom}}</div>
            <a href="{{ path('sortie_index') }}"><button class="btn btn-lg btn-primary">Retour</button></a>
            <img src="{{ asset('img/backdrops/' ~ participant.backdrop)}}" alt="">


{% endblock %}














