{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}

    <h2 class="body-title">Accueil</h2>
    <fieldset>
        <legend>Filtres : </legend>
        <div>
            <input type="checkbox" id="organisateur" name="organisateur" checked>
            <label for="organisateur">Sorties dont je suis l'organisateur/trice</label>
        </div>
        <div>
            <input type="checkbox" id="inscrit" name="inscrit">
            <label for="inscrit">Sorties auxquelles je suis inscrit(e)</label>
        </div>
        <div>
            <input type="checkbox" id="pasInscrit" name="pasInscrit">
            <label for="pasInscrit">Sorties auxquelles je ne suis pas inscrit(e)</label>
        </div>
        <div>
            <input type="checkbox" id="expirer" name="expirer">
            <label for="expirer">Sorties passées</label>
        </div>
    </fieldset>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Cloture</th>
                    <th>Inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                </tr>
            </thead>

            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d-m-Y') }}</td>
                    <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                    <td>{{ sortie.participants | length }}/{{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if(sortie.etat.id != 3 and sortie.etat.id != 4 and sortie.etat.id != 5 and sortie.etat.id != 6) %}
                            {% if sortie.participants | length != 0 %}
                                {% for participant in sortie.participants %}
                                    {% if participant.id == app.user.id %}
                                        <a href="{{ path('sortie_removeRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"><span>✔</span></a>
                                    {% else %}
                                        <a href="{{ path('sortie_addRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"> s'inscrire</a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <a href="{{ path('sortie_addRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"> s'inscrire</a>
                            {% endif %}
                        {% else %}
                            {% if(sortie.etat.id == 3) %}
                                {% if sortie.participants | length != 0 %}
                                    {% for participant in sortie.participants %}
                                        {% if participant.id == app.user.id %}
                                            <a href="{{ path('sortie_removeRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"><span>✔</span></a>
                                        {% else %}
                                            <a>inscription cloturé</a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                {% endif %}
                                <a href="{{ path('sortie_removeRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"><span>✔</span></a>
                            {% else %}
                                <a>inscription cloturé</a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('profil_show', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</a></td>
                    <td><a href="{{ path('sortie_show', {'id': sortie.id}) }}">view</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
