{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    {% for sortie in sorties %}
        {{ sortie.nom }}
    {% endfor %}

    <h2 class="body-title">Accueil</h2>

    <div>
        <h3>Filtres :</h3>
        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        {{ form_end(filterForm) }}
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Cloture</th>
                    <th>Inscrits/places</th>
                    <th>Organisateur</th>
                    <th>Inscrit</th>
                    <th>Etat</th>

                </tr>
            </thead>

            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d-m-Y') }}</td>
                    <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                    <td>{{ sortie.participants | length }}/{{ sortie.nbInscriptionMax }}</td>
                    <td><a href="{{ path('profil_show', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</a></td>
                    <td>

                        {% if(sortie.etat.id == 2) %}
                            {% if sortie.participants | length != 0 %}
                                {% set inscrit = false %}
                                {% for participant in sortie.participants %}
                                    {% if participant.id == app.user.id %}
                                        {% set inscrit = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if(inscrit) %}
                                    <a href="{{ path('sortie_removeRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"><span>✔</span></a>
                                {% else %}
                                    <a href="{{ path('sortie_addRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"> s'inscrire</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('sortie_addRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"> s'inscrire</a>
                            {% endif %}
                        {% elseif(sortie.etat.id != 1 and sortie.etat.id != 2) %}
                            {% if sortie.participants | length != 0 %}
                                {% set inscrit = false %}
                                {% for participant in sortie.participants %}
                                    {% if participant.id == app.user.id %}
                                        {% set inscrit = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if(inscrit) %}
                                    <span>✔</span>
                                {% else %}
                                    <span>Non Inscrit</span>
                                {% endif %}
                            {% else %}
                                <span>Non Inscrit</span>
                            {% endif %}
                        {% elseif (sortie.etat.id == 1) %}
                            <span>Inscription futur</span>
                        {% endif %}
                    </td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td><a href="{{ path('sortie_show', {'id': sortie.id}) }}">view</a></td>
                    {% if(sortie.organisateur.id == app.user.id) %}
                        {% if(sortie.etat.id == 1 or sortie.etat.id == 2 or sortie.etat.id == 3) %}
                            <td><a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a></td>
                        {% endif %}
                        {% if(sortie.etat.id == 1) %}
                            <td><a href="{{ path('sortie_publish', {'id': sortie.id}) }}">publish</a></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
