{% extends 'base.html.twig' %}

{% block title %}
        {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <h1>Accueil</h1>
<div>
    {{ app.user.id }}
    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
        </tr>
        
    {% for sortie in sorties %}
        <tr>

            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut | date('d-m-Y')}}</td>
            <td>{{ sortie.dateLimiteInscription | date('d-m-Y')}}</td>
            <td>{{ sortie.participants | length }}/{{ sortie.nbInscriptionMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            {% if sortie.participants | length != 0 %}
                {% for participant in sortie.participants %}
                    {% if participant.id == app.user.id %}
                        <td>X</td>
                    {% else %}
                        <td>lololololo</td>
                    {% endif %}
                {% endfor %}
            {% else %}
                <td></td>
            {% endif %}

{#                {% if participant.id == app.user.id %}#}
{#                    <td>INSCRIT</td>#}
{#                {% else %}#}
{#                    <td>T'es pas inscrit</td>#}
{#                {% endif %}#}

{#
{#                {% if participant.id == app.user.id %}#}
{#                    <td>INSCRIT !</td>#}
{#                {% else %}#}
{#                    <td>PAS INSCRIT </td>#}
{#                {% endif %}#}
{#            {% endfor %}#}
            <td>{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
