{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}

    <h2 class="body-title">Accueil</h2>


    <div>
        <h3>Filtres :</h3>
        {{ form_start(filterForm) }}
        <div class="form-control d-flex flex-row mb-2">
            <div class="gauche p-2 w-50">
                <div class="input-group-sm mb-3">
                    <label for="">Site :</label>
                    {{ form_widget(filterForm.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <label for="">Le nom de la sortie contient :</label>
                {{ form_widget(filterForm.site, {'attr': {'class': 'form-select'}}) }}

                <div class="date d-flex mt-4">
                    Entre {{ form_widget(filterForm.dateHeureDebut, {'attr': {'class': 'ml-2'}}) }} ET {{ form_widget(filterForm.dateHeureFin, {'attr': {'class': 'ml-2'}}) }}
                </div>

                {{ form_widget(filterForm.rechercher, {'attr': {'class': 'btn btn-primary mt-4'}}) }}

            </div>

            <div class="droite p-2 w-50 d-flex justify-content-center">
                <div class="mx-3 ">
                    <div class="form-check mt-3 mb-4">
                        {{ form_widget(filterForm.sortieOrganisateur, {'attr': {'class': 'form-check-input'}}) }}
                        <label class="form-check-label" for="flexCheckDefault">
                            Sorties dont je suis l'organisateur/trice
                        </label>
                    </div>
                    <div class="form-check mb-4">
                        {{ form_widget(filterForm.sortieInscrit, {'attr': {'class': 'form-check-input'}}) }}
                        <label class="form-check-label" for="flexCheckChecked">
                            Sorties auxquelles je suis inscrit/e
                        </label>
                    </div>
                    <div class="form-check mb-4">
                        {{ form_widget(filterForm.sortiePasInscrit, {'attr': {'class': 'form-check-input'}}) }}
                        <label class="form-check-label" for="flexCheckChecked">
                            Sorties auxquelles je ne suis pas inscrit/e
                        </label>
                    </div>
                    <div class="form-check">
                        {{ form_widget(filterForm.sortiePasse, {'attr': {'class': 'form-check-input'}}) }}
                        <label class="form-check-label" for="flexCheckChecked">
                            Sorties passées
                        </label>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(filterForm) }}


    </div>

    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Cloture</th>
                    <th>Inscrits/places</th>
                    <th>Organisateur</th>
                    <th>Inscrit</th>
                    <th>Etat</th>

                </tr>
            </thead>

            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d-m-Y') }}</td>
                    <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                    <td>{{ sortie.participants | length }}/{{ sortie.nbInscriptionMax }}</td>
                    <td><a href="{{ path('profil_show', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</a></td>
                    <td>

                        {% if(sortie.etat.id == 2) %}
                            {% if(sortie.organisateur.id == app.user.id) %}
                                <span>✔</span>
                            {% else %}
                                {% if sortie.participants | length != 0 %}
                                    {% set inscrit = false %}
                                    {% for participant in sortie.participants %}
                                        {% if participant.id == app.user.id %}
                                            {% set inscrit = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if(inscrit) %}
                                        <a href="{{ path('sortie_removeRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"><span>✔</span></a>
                                    {% else %}
                                        <a href="{{ path('sortie_addRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"> s'inscrire</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('sortie_addRegister', {'idUser': app.user.id, 'idSortie': sortie.id}) }}"> s'inscrire</a>
                                {% endif %}
                            {% endif %}

                        {% elseif(sortie.etat.id != 1 and sortie.etat.id != 2) %}
                            {% if sortie.participants | length != 0 %}
                                {% set inscrit = false %}
                                {% for participant in sortie.participants %}
                                    {% if participant.id == app.user.id %}
                                        {% set inscrit = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if(inscrit) %}
                                    <span>✔</span>
                                {% else %}
                                    <span>Non Inscrit</span>
                                {% endif %}
                            {% else %}
                                <span>Non Inscrit</span>
                            {% endif %}
                        {% elseif (sortie.etat.id == 1) %}
                            {% if sortie.participants | length != 0 %}
                                {% set inscrit = false %}
                                {% for participant in sortie.participants %}
                                    {% if participant.id == app.user.id %}
                                        {% set inscrit = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if(inscrit) %}
                                    <span>✔</span>
                                {% else %}
                                    <span>Inscription à venir</span>
                                {% endif %}
                            {% else %}
                                <span>Inscription à venir</span>

                            {% endif %}
                        {% endif %}

                    </td>
                    <td>
                        <a href="{{ path('profil_show', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</a>
                    </td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td><a href="{{ path('sortie_show', {'id': sortie.id}) }}">view</a></td>
                    {% if(sortie.organisateur.id == app.user.id) %}
                        {% if(sortie.etat.id == 1) %}
                            <td><a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a></td>
                            <td><a href="{{ path('sortie_publish', {'id': sortie.id}) }}">publish</a></td>
                        {% endif %}
                        {% if(sortie.etat.id == 2 or sortie.etat.id == 3) %}
                            <td><a href="{{ path('sortie_cancel', {'id': sortie.id}) }}">annuler</a></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
        {{ knp_pagination_render(sorties) }}

    </div>
{% endblock %}
