{% extends 'base.html.twig' %}

{% block title %}
        {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <h1>Accueil</h1>
<div>
    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
        </tr>
    {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut | date('d-m-Y')}}</td>
            <td>{{ sortie.dateLimiteInscription | date('d-m-Y')}}</td>
            <td>{{ sortie.participants | length }}/{{ sortie.nbInscriptionMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td></td>
            <td>{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</td>
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}
