<!-- Navbar Left -->
<nav class="main-menu">
    <ul>
        <li>
            <a href="{{ path('sortie_index') }}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Accueil
                </span>
            </a>
        </li>
        {% if app.user %}
            <li>
                <a href="{{ path('profil_edit', {'id':app.user.id}) }}">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                                Modifier mon profil
                            </span>
                </a>
            </li>
            <li>
                <a href="{{ path('profil_show', {'id':app.user.id}) }}">
                    <i class="fa fa-2x"><img
                                src="{{ asset('img/backdrops/' ~ app.user.backdrop) }}" alt="lol"
                                class="rounded-circle-icon"
                                alt="Black and White Portrait of a Man"
                                loading="lazy"
                        /></i>
                    <span class="nav-text">
                            Mon Profil ({{ app.user.nom | capitalize }} {{ app.user.prenom | capitalize }})
                        </span>
                </a>
            </li>

            <li>
                <a href="{{ path('sortie_index') }}">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        Consulter les sorties
                    </span>
                </a>
            </li>

            <li>
                <a href="{{ path('sortie_add') }}">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                                Créer une sortie
                            </span>
                </a>
            </li>

            <li>
                <a href="{{ path('app_site_index', {'id':app.user.id}) }}">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                                Gérer les sites
                            </span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_lieu_index', {'id':app.user.id}) }}">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                                Gérer les lieux
                            </span>
                </a>
            </li>
        {% endif %}

    </ul>

    {% if app.user %}
        <ul class="logout">
            <li>
                <a href="{{ path('app_logout') }}">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                                Se déconnecter
                            </span>
                </a>
            </li>
        </ul>
    {% else %}
        <ul class="login">
            <li>
                <a href="{{ path('app_login') }}">
                    <i class="fa fa-arrow-right fa-2x"></i>
                    <span class="nav-text">
                        Se connecter
                    </span>
                </a>
            </li>
        </ul>
    {% endif %}
</nav>

<!-- Navbar center -->
<div class="header-center">
    <img
            src="{{ asset('img/icon.png') }}" alt="lol"
            class="rounded-circle"
            height="75"
            alt="Black and White Portrait of a Man"
            loading="lazy"
    />
    <h1>Sortir.com</h1>
</div>